<div>

     <h2>Ideia do tema e da ferramenta:</h2>
    Criado a partir da experiência de jovens aprendizes no momento que precisaram realizar a entrega de documentos,
    tirar duvidas sobre quais precisariam levar para a empresa, informações sobre benefícios, obrigações dentro da
    empresa, cursos de integração relacionados a assuntos e treinamentos importantes para quem é novo no ambiente
    corporativo. Por esse motivo, veio a ideia de criar um app voltado para facilitar a comunicação entre empresa e
    funcionário, com o intuito de gerar uma comunicação clara e que deixe o processo menos burocrático.



    <h2>Ideia do aplicativo (chatbot, cursos de integração, mensagens entre funcionários, aba de lembretes alimentados
    pela IA):</h2>

   <p> A criação do aplicativo desenvolvido promove meios de comunicação que facilitam a integração dos colaboradores e
    alguns processos pós-integração. A ideia é que funcione como uma Rede de Comunicação Empresarial e que as
    empresas que se identifiquem com as facilidades do app adquiram e implementem em suas empresas adaptando aos
    padrões necessários, personalizando o chatbot e alimentando o banco de dados de acordo com o serviço da sua
    empresa.
</p>

   <h2>Dentre eles estão listados:</h2>

   <h3>O chatbot</h3>  - Que funciona como um tira dúvidas na palma da mão de forma ágil e eficaz a qualquer momento do dia e
    que pode ser facilmente acessado pelo smartfone dos colaboradores. Assim que se inicia a interação com o
    chatbot, a robô chamada Onna envia uma lista de opções em que o funcionário pode escolher a que mais se adequa a
    sua dúvida e dessa forma começar o "atendimento robotizado". Caso o colaborador ainda tenha dúvidas ele pode
    digitar a opção "Tirar dúvidas" e digitar frases que serão encaminhadas para um sistema de inteligência
    artificial que responderá rapidamente dúvidas solicitadas.
     <p>    Sempre que a lista do chatbot não der conta de esclarecer as informações solicitadas pelos colaboradores e a
          opção de "Tirar dúvidas" for acionada, o sistema de IA irá alimentar um banco de informações a partir das
          dúvidas escritas no chat que serão direcionadas para uma outra aba do aplicativo sinalizada como "Lembretes".</p>




    <h3>Lembretes</h3><p> - nessa aba estarão um compilado de informações com as dúvidas mais recorrentes que servirão como base
    para notificações diárias enviadas aos colaboradores como meio de informar e esclarecer objeções recorrentes.
    Além de lembretes sobre as dúvidas mais frequentes, essa aba também é responsável por lançar informações muito
    importantes como exames periódicos que precisam ser realizados, informativos sobre vacinação, sobre a
    importância de manter organizado o espaço de trabalho, iniciativas de preservação ao meio ambiente (como redução
    do uso de copos plásticos nas empresas, jogar o lixo no local correto, otimizar o consumo de água nos banheiros
    e na copa), feriados, eventos corporativos, metas para a conclusão dos cursos de integração e entre outros.
</p>

    <h3>Message</h3> <p>uma outra funcionalidade do chatbot é direcionar o funcionário para essa aba em que o funcionário pode
    falar diretamente aos setores da empresa e as pessoas responsáveis por cada setor. Os colaboradores podem
    interagir com essas pessoas pelo chat de mensagens que funciona como um Teams e já tirarem as dúvidas com o
    gestor de determinado setor responsável. Essa funcionalidade facilitará muito a comunicação ágil e sem ruídos
    nas empresas. E essa funcionalidade também pode ser acessada de forma independente, sem precisar passar
    primeiramente pelo processo do chatbot.</p>


    <h3>Treinamentos</h3><p>esse bloco é onde tem os cursos de integração para os novos colaboradores ficarem por dentro da
    cultura organizacional, para realizarem cursos direcionados aos setores que irão atuar, assistirem vídeos sobre
    a importância do respeito e diversidade dentro das empresas para que o ambiente seja sempre agradável e além
    disso, para conhecerem de fato a empresa como um todo, a sua historia, a importância e atuação de cada setor
    para que todos os colaboradores estejam sempre alinhados e contribuindo para o desenvolvimento da empresa.
    Funciona também para que os colaboradores antigos estejam sempre se atualizando e se desenvolvendo sobre as
    temáticas da empresa, buscando evolução e crescimento.</p>


   <p> Um outro ponto é que além de treinamentos, também ofertará cursos adicionais que auxilie o colaborador no dia a
    dia, como cursos da área administrativa, financeira, comercial, tecnológica e tantos outros a depender do perfil
    da empresa que adquirir o app e personalizar ao seu modo. Terão também cursos de word, exel e programas que
    sejam interessantes para a rotina dos funcionários e terá uma gama de conteúdos para os colaboradores acessarem
    caso façam uma autoanalise e identifiquem que precisam melhorar em algo específico.</p></div>
