div{
    background: #000000;
   
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

h1{padding: 20px;
   background-color:#ffffff;
}
.item1{
    margin-left: 200px;
   
}

a{
    background: #ffffff;
}